{% extends "base.html" %}

{% block style %}
<html style="overflow-y:scroll;">
{% endblock %}
{% block nav %}
{{super()}}
<nav id="top" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">ArtPI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved_art">Saved Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            {% if session['user']  == 'admin' %}
            <li class="nav-item">
                <a class="nav-link" href="/cache">Cache</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item navbar-right">
                <a class="nav-link text-danger" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block header %}
<h1 class="display-3 text-center p-5" style="background-color:white">{{title}}</h1>
{% endblock %}

{% block body %}
<div class="text-center">
    {% for collection in cache.keys() %}
    <a class="px-2" href=#{{collection | replace(" ", "")}} style="text-decoration: none; color: black;"><b>{{collection}}</b></a>
    {% endfor %}
</div>
<br>

{% for collection in cache %}
<h4 id={{collection | replace(" ", "")}} class="display-6 text-center">{{collection}}</h4>
<div class="card-columns">
    {% for art in cache[collection] %}
    <div class="card rounded" style="min-width: 300px">
        <a href="/image/{{art[0]}}" style="color: black">
            <img src={{art[4]}} class="card-img-top img-fluid">
            <div class="card-body">
                <h5 class="card-title">{{art[2]}}</h5>
                <p class="card-text">{{art[3]}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}

{% block back %}
<div class="bottom-right p-2">
    <a id="back" class="btn btn-lg btn-primary" href="#top"><b>^</b></a>
</div>
{% endblock %}