{% extends "home.html" %}

{% block body %}
<form method="POST" action="/search">
  <input type="text" name="search">
  <input type="submit" name="submit" value="search">

<select name="searchtype">
  <option value="keyword">Keyword</option>
  <option value="artist">Artist</option>
  <option value="name">Title</option>
</select>

</form>

{% for link,title,artist in info %}
  <img src = "{{link}}"><br>
  {{title}}<br>
  {{artist}}<br>
  <!-- insert button here that redirects to image.html -->
{% endfor %}

{% endblock %}
