{% extends "home.html" %}

{% block body %}
<h4> The works of art available to be displayed are limited to what is in the Met Museum. </h4> <br>
<h6> Note: Loading result will be slow, please be patient </h6>
<form method="POST" action="/search">
  <input type="text" name="search">
  <input type="submit" name="submit" value="search">

Search By:
  <select name="searchtype">
    <option value="keyword">Keyword</option>
    <option value="artist">Artist</option>
    <option value="name">Title</option>
  </select>

</form>
<br>

<div class="card-columns">
    {% for link,title,artist,id in info %}
        <div class="card rounded" style="min-width: 250px">
            <a href="/image/{{id}}" style="color:black">
                <img src={{link}} class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{artist}}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}
